.skill{
    width: 90%;
    height: fit-content;
}

.content-skill{
    width: 100%;
    height: fit-content;
    background-color: white;
}


/* skill */
.feature{
    text-align: center;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    /* background: rgb(0, 123, 255) !important; */
    background: linear-gradient(to top, rgba(0, 123, 255, 0.462), rgba(0, 123, 255, 0.79), rgb(0, 123, 255)) !important;
    /* background: radial-gradient(rgb(0, 123, 255), rgba(255,0,0,0)) !important; */
}

.feature:hover .feature-icon{
    border-radius: 100%;
    /* background: rgb(0, 123, 255) !important; */
    background: linear-gradient(to top, rgba(21, 62, 196, 0.36), rgba(21, 62, 196, 0.711), rgb(21, 62, 196)) !important;
    -webkit-box-shadow: 2px 2px 8px 2px rgba(102, 102, 102,1);
    -moz-box-shadow: 2px 2px 8px 2px rgb(102, 102, 102);
    box-shadow: 2px 2px 8px 2px rgba(102, 102, 102,1);
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    /* background: radial-gradient(rgb(0, 123, 255), rgba(255,0,0,0)) !important; */
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
